---
import Header from "@/components/Header.astro";
import Landing from "@/layouts/Landing.astro";
import Hero from "@/sections/Hero.astro";
import ArtistStatement from "@/sections/ArtistStatement.astro";
import Footer from "@/components/Footer.astro";
import Gallery from "@/sections/Gallery.astro";
---

<Landing>
  <Header />
  <div id="smooth-wrapper">
    <div id="smooth-content">
      <main>
        <Hero />
        <ArtistStatement
          class="bg-gradient-to-b from-60% from-transparent to-midnight"
        >
          "Art is the language of the unconscious,
          <br class="hidden sm:block" />
          speaking truths we dare not voice."
        </ArtistStatement>
        <Gallery />
        <ArtistStatement class="bg-midnight">
          "Children mirror the world we've built,
          <br class="hidden sm:block" />
          reflecting what we choose not to see."
        </ArtistStatement>
        <Footer />
      </main>
    </div>
  </div>

  <script>
    import { gsap } from "gsap";
    import { ScrollSmoother } from "gsap/ScrollSmoother";

    gsap.registerPlugin(ScrollSmoother);

    ScrollSmoother.create({
      smooth: 1,
      effects: true,
      smoothTouch: 1,
    });
  </script>
</Landing>
