<footer
  class="bg-black text-sm font-thin text-smoke p-4 flex justify-between items-center z-50"
>
  <p>
    &copy; {new Date().getFullYear()} Sirikanya Amaranantakij. All rights reserved.
  </p>
  <div class="space-x-4">
    Designed by Sirikanya Amaranantakij and developed by
    <a
      href="https://oscarrc.me"
      target="_blank"
      rel="noopener noreferrer"
      class="text-smoke hover:text-white transition-colors"
    >
      Oscar R. C.
    </a>
  </div>
</footer>
