---
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="bg-midnight min-h-dvh overflow-x-hidden">
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <slot />
      </div>
    </div>
  </body>
</html>

<script>
  import { gsap } from "gsap";
  import { ScrollSmoother } from "gsap/ScrollSmoother";

  gsap.registerPlugin(ScrollSmoother);

  ScrollSmoother.create({
    smooth: 1,
    effects: true,
  });
</script>
